<main class="main-content">
    <% if (subPage) { %>
        <section class="subpage-section ">
            <h2 class="subpage-title">
                <%= subPage.name %>
            </h2>
            <p class="subpage-text intro-text">
                <%= subPage.intro %>
            </p>
            <p><strong>What it is:</strong>
                <%= subPage.whatItIs %>
            </p>
            <p><strong>Formation:</strong>
                <%= subPage.formation %>
            </p>
            <p><strong>Characteristics:</strong>
                <%= subPage.characteristics %>
            </p>
            <p><strong>Importance:</strong>
                <%= subPage.importance %>
            </p>
            <p><strong>Observation:</strong>
                <%= subPage.observation %>
            </p>
            <img class="subpage-image" src="<%= subPage.image %>" alt="<%= subPage.name %>">
        </section>

        <% } %>
</main>